@media screen and (max-width: 1920px) {
    body {
        background-color: black;
    }
}

h1 {
    font-size: 60px;
    color: greenyellow;
    text-align: center;
    font-family:cursive;
}


p {
    font-size: 1.5rem;
    color: greenyellow;
    text-align: center;
    font-family: courier, courier new, serif;
}

.flex {
    width: 100%;
    text-align: center;
}

.box {
    width: 100%;
}
