body {
        background-color: black;
}

audio {
        text-allign:center;
}

@media (width >= 1366px){
    audio {
        width: 1000px;
        left: 300px;
    }
} 

h1 {
    font-size: 60px;
    color: greenyellow;
    text-align: center;
    font-family:cursive;
}


p {
    font-size: 1.5rem;
    color: greenyellow;
    text-align: center;
    font-family: courier, courier new, serif;
}
