.cover-image{
    width: 30px;
    height: 30px;
    margin: 22px 20px 20px 20px;
    border-radius: 3px;
}

.audio-name{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    height: fit-content;
    margin: 0px 10px 0px 0px;
    padding-top: 15px;
    width: fit-content;
}

.audio-artist-name{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    height: fit-content;
    margin: 0px 10px 0px 0px;
    padding-top: 5px;
    font-size: small;
    width: fit-content;
}

.audio-artist-name-player{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    height: fit-content;
    margin: 0px 10px 0px 0px;
    padding-top: 5px;
    font-size: small;
    width: fit-content;
}

.audio-item-div{
    width: 98%;
    display: flex;
    justify-content: left;
    /* transition: background-color 0.8s; */
    border-radius: 5px;
}

.audio-item-div:hover{
    background-color: hsla(0,0%,100%,.3);
}

.audio-items-name-div{
    width: fit-content;
    display: flex;
    justify-content: center;
}

.audio-controls-div{
    width: fit-content;
    float: left;
}

.audio-item-div-container{
    display: flex;
    justify-content: center;
}

.audio-player-div{
    width: 98%;
    display: flex;
    justify-content: left;
    border-radius: 5px;
    background-color: black;
}

.audio-player-div-container{
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 5px;
    left: 0;
    z-index: 1;
}

.audio-control-icons{
    width: 30px;
    height: 30px;
    margin: 20px 10px 20px 10px;
}

.audio-control-icons-2{
    width: 30px;
    height: 30px;
    margin: 20px 10px 20px 0px;
}

.audio-control-play{
    width: 40px;
    height: 37px;
    margin: 20px 0px 20px 0px;
}

.audio-list-audio{
    margin: 15px 6px 0px 5px;
    height: 40px;
    width: 70%;
}

audio::-webkit-media-controls-play-button{
    background-color: red;
}

@media screen and (max-width: 750px) {
    
    .audio-artist-name{
        display: none;
    }

    .audio-name{
        display: flex;
        flex-wrap: wrap;
    }

    .audio-item-div:hover{
        background-color: transparent;
    }
}

@media screen and (max-width: 650px) {

    audio::-webkit-media-controls-play-button{
        visibility: visible;
    }
}

@media screen and (max-width: 450px) {
    .audio-control-icons-2{
        display: none;
    }
    audio::-webkit-media-controls {
        visibility: hidden;
    }
}

@media screen and (max-width: 400px) {
    .cover-image{
        width: 70%;
        height: fit-content;
        border-radius: 15px;
    }

    .audio-name{
        margin: 0px;
        padding: 0px;
        font-family: Afacad Flux;
    }

    .audio-item-div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    .audio-player-div-container{
        display: none;
    }

    .audio-control-icons{
        display: none;
    }

    .audio-list-audio{
        width: 90%;
    }

    audio::-webkit-media-controls{
        visibility: visible;
    }

    input{
        margin: 0px;
    }
}