body{
    background-color: #181818;
    width: 100%;
    height: max-content;
    height: fit-content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellow;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: yellow;
}

nav{
    display: flex;
    justify-content: center;
}

.heading-nav{
    float: left;
    margin-top: 13px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 0;
    padding-left: 0;
}

.ul-list{
    margin-top: 10px;
    margin-right: 9px;
    margin-left: 25px;
    font-weight: bolder;
    height: fit-content;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.6s;
    font-size: 15px;
}

.ul-list:hover{
    background-color: rgb(35, 145, 255);
}

.search-box{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(21, 26, 71);
    color: white;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    border: 1px solid rgb(163, 159, 218);
    margin-top: 8px;
    margin-left: 30px;
    padding-left: 10px;
}

::placeholder {
    color: rgb(163, 159, 218);
    opacity: 1;
}

.hero-section{
    width: 100%;
/*     background-image: url("../Images/mountain2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
    height: 537px;
    display: flex;
    justify-content: center;
}

.side-panel{
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 380px;
    flex-wrap: wrap;
    padding: 15px 10px 15px 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 40px;
    margin-left: 80px;
    position: relative;
    top: 50px;
}

.mode{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 9px;
    margin-left: 25px;
}

audio{
    width: 320px;
    margin-top: 5px;
    margin-bottom:10px;
}

audio::-webkit-media-controls-panel {
    background-color: rgb(169, 175, 255);
}

audio::-webkit-media-controls-mute-button {
    background-color: white;
    color: white;
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
    background-color: white;
    border-radius: 50%;
}

audio::-webkit-media-controls-timeline {
    background-color: #B1D4E0;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

audio::-webkit-media-controls-time-remaining-display {
    color: black;
}

audio::-webkit-media-controls-current-time-display {
    color: black;
}

.Audio-list{
    height: fit-content;
    width: 100%;
    display: inline-block;
}

.audio-items{
    width: 95%;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.Welcome-text{
    color: white;
    margin-top: 190px;
    margin-left: 30px;
    width: 590px;
}

.play-pause{
    background-image: url("../Images/play.png");
    background-size: cover;
    width: 50px;
    height:50px;
    cursor:pointer;
    background-color: #181818;
    padding: 0px;
    border: 0px;
}

.play-pause.paused{
    background-image: url("../Images/pause.png");
    background-size: cover;
    width: 50px;
    height:50px;
    cursor:pointer;
    background-color: #181818;
    padding: 0px;
    border: 0px;

}

#typed{
    color: rgb(5, 0, 70);
}

span{
    color: rgb(5, 0, 70);
}

#background-video {
    width: 100%;
    height: 537px;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    z-index: -1;
}

footer{
    width: 100%;
    height: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}

.footer-list-container{
    display: block;
    float: left;
}

.footer-list{
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 8px;
    color: White;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.footer-heading{
    float: left;
    margin-left: 20vh;
}

.footer-logo{
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.footer-heading-div{
    width: fit-content;
}

a.footer{
    color: white;;
}

.top-text{
    margin-top: 30px;
    text-align: center;
}

.song-name{
    margin-left: 30px;
    font-style: italic;
    color: white;
    font-weight: 100;
}

.quote-container{
    width: 100%;
    height: 100px;
    background-color: rgb(21, 26, 71);
}

#quote{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    color: white;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 30px;
    text-align: center;
}