body{
    background-color: #181818;
    width: 100%;
    height: max-content;
    height: fit-content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellow;
    padding: 0;
    margin: 0;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: yellow;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #181818;
}

.heading-nav{
    float: left;
    margin-top: 13px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 0;
    padding-left: 0;
}

.ul-list{
    margin-top: 10px;
    margin-right: 9px;
    margin-left: 25px;
    font-weight: bolder;
    height: fit-content;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.6s;
    font-size: 15px;
}

.ul-list:hover{
    background-color: rgb(35, 145, 255);
}

.search-box{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(21, 26, 71);
    color: white;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    border: 1px solid rgb(163, 159, 218);
    margin-top: 8px;
    margin-left: 30px;
    padding-left: 10px;
}

.ul-icon{
    display: none;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 9px;
    margin-left: 12px;
}

.hero-section{
    width: 100%;
/*     background-image: url("../Images/mountain2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
    height: 537px;
    display: flex;
    justify-content: center;
}

.side-panel{
    height: fit-content;
    width: 350px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 15px 0px 15px 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 60px;
    margin-left: 80px;
    position: relative;
    top: 50px;
}

.cover-image-side-panel{
    width: 130px;
    height: 130px;
    margin: 20px 50px 20px 50px;
    border-radius: 5px;
}

.audio-name-side-panel{
    color: white;
    width: 90%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

#progress{
    -webkit-appearance: none;
    width: 80%;
    height: 6px;
    background-color: rgb(169, 175, 255);
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0px;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: rgb(169, 175, 255);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0px 5px 5px rgba(255, 26, 26, 0.22);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div{
    width: 60px;
    height: 60px;
    margin: 20px 15px 20px 15px;
    background-color: rgba(236, 31, 31, 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    box-shadow: 0px 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}

.controls div:nth-child(1){
    transform: scale(1.1);
    background-color: rgb(247, 70, 70);
}

.controls div:nth-child(2){
    transform: scale(1.1);
    background-color: rgb(247, 70, 70);
}

.controls div:nth-child(3){
    transform: scale(1.1);
    background-color: rgb(247, 70, 70);
}

.audio-artist-name-side-panel{
    color: white;
    font-weight: 200;
    margin-top: 10px;
}

.mode{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 9px;
    margin-left: 25px;
}

.mode2{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 9px;
    margin-left: 25px;
    display: none;
}

.responsive-ul{
    list-style-type: none;
    display: none;
    justify-content: center;
    justify-items: center;
    width: fit-content;
    margin-left: 0;
    margin-right: 10px;
    padding-left: 0;
}

.form-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 20px;
}

input{
    background-color: black;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    width: 300px;
    height: 35px;
    padding: 5px 5px 5px 15px;
    margin-top: 20px;
}

.submit-button{
    width: 317px;
    height: 40px;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: yellow;
    color: black;
    border-radius: 5px;
    border: 0;
    margin-top: 30px;
}

.heading{
    text-align: center;
    width: 100%;
    height: 57px;
    padding-top: 20px;
    margin-top: 20px;
    background-color: yellow;
    color: black;
}