/* ahhhh */
body{
    background-color: whitesmoke;
    width: 100%;
    height: max-content;
    height: fit-content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: center;
    background-color: white;
}

.heading-nav{
    float: left;
    margin-top: 13px;
    font-family: Caveat;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 0;
    padding-left: 0;
}

.ul-list{
    margin-top: 10px;
    margin-right: 9px;
    margin-left: 25px;
    font-weight: bolder;
    height: fit-content;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.6s;
    font-size: 15px;
}

.ul-list:hover{
    background-color: rgb(35, 145, 255);
}

.search-box{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(115, 126, 224);
    color: white;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    border: 1px solid rgb(163, 159, 218);
    margin-top: 8px;
    margin-left: 30px;
    padding-left: 10px;
}

::placeholder {
    color: rgb(163, 159, 218);
    opacity: 1;
}

.ul-icon{
    display: none;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 9px;
    margin-left: 12px;
}

.hero-section{
    width: 100%;
/*     background-image: url("../Images/mountain2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
    height: 537px;
    display: flex;
    justify-content: center;
}

.side-panel{
    height: fit-content;
    width: 350px;
    border-radius: 10px;
    background-color: whitesmoke;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 15px 0px 15px 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 60px;
    margin-left: 80px;
    position: relative;
    top: 50px;
}

.cover-image-side-panel{
    width: 130px;
    height: 130px;
    margin: 20px 50px 20px 50px;
    border-radius: 5px;
}

.audio-name-side-panel{
    color: black;
    width: 90%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

#progress{
    -webkit-appearance: none;
    width: 80%;
    height: 6px;
    background-color: rgb(169, 175, 255);
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0px;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: rgb(169, 175, 255);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0px 5px 5px rgba(255, 26, 26, 0.22);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div{
    width: 60px;
    height: 60px;
    margin: 20px 15px 20px 15px;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: black;
    box-shadow: 0px 10px 20px white;
    cursor: pointer;
}

.controls div:nth-child(1){
    transform: scale(1.1);
    background-color: rgb(247, 70, 70);
}

.controls div:nth-child(2){
    transform: scale(1.1);
    background-color: rgb(247, 70, 70);
}

.controls div:nth-child(3){
    transform: scale(1.1);
    background-color: rgb(247, 70, 70);
}

.audio-artist-name-side-panel{
    color: black;
    font-weight: 200;
    margin-top: 10px;
}

.mode{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 9px;
    margin-left: 25px;
}

.mode2{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 9px;
    margin-left: 25px;
    display: none;
}

.responsive-ul{
    list-style-type: none;
    display: none;
    justify-content: center;
    justify-items: center;
    width: fit-content;
    margin-left: 0;
    margin-right: 10px;
    padding-left: 0;
}

audio::-webkit-media-controls-panel {
    background-color: rgb(169, 175, 255);
}

audio::-webkit-media-controls-mute-button {
    background-color: white;
    color: black;
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
    background-color: white;
    border-radius: 50%;
}

audio::-webkit-media-controls-timeline {
    background-color: #B1D4E0;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

audio::-webkit-media-controls-time-remaining-display {
    color: black;
}

audio::-webkit-media-controls-current-time-display {
    color: black;
}

.Audio-list{
    height: fit-content;
    width: 100%;
    display: inline-block;
    padding-bottom: 20px;
}

.audio-items{
    width: 95%;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.Welcome-text{
    color: black;
    margin-top: 190px;
    margin-left: 30px;
    width: 590px;
}

#typed{
    color: rgb(5, 0, 70);
}

span{
    color: rgb(5, 0, 70);
}

#background-video {
    width: 100%;
    height: 537px;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    z-index: -1;
}

footer{
    width: 100%;
    height: 170px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}

.footer-list-container{
    display: block;
    text-align: center;
}

.footer-list{
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 8px;
    color: White;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.footer-heading{
    width: 100%;
    text-align: center;
}

.footer-heading-div{
    width: 100%;
}

a.footer{
    color: white;;
}

.top-text{
    width: 100%;
    height: 50px;
    color: black;
    padding-top: 28px;
    margin: 0px 0px 8px 0px;
    text-align: center;
    background-color: lightblue;
}

.song-name{
    margin-left: 30px;
    font-style: italic;
    color: white;
    font-weight: 100;
}

.quote-container{
    width: 100%;
    height: fit-content;
    background-color: rgb(21, 26, 71);
}

#quote{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    color: white;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .search-box{
        display: none;
    }

    .Welcome-text{
        margin-left: 40px;
    }

    .side-panel{
        display: none;
    }
}

@media screen and (max-width: 890px) {
    .Welcome-text{
        margin-left: 0;
    }

    .quote-container{
        display: none;
    }
}

@media screen and (max-width: 790px) {
    .ul-list{
        display: none;
    }

    .mode{
        display: none;
    }

    .heading-nav{
        text-align: center;
        margin-left: 112px;
        font-family: Caveat;
        font-size: 30px;
        height: 40px;
    }

    ul{
        width: 100%;
        height: 60px;
    }

    .ul-icon{
        display: block;
        margin-top: 18px;
    }

    .responsive-ul{
        display: flex;
    }

    .mode2{
        display: block;
        margin-top: 20px;
    }
}

@media screen and (max-width: 750px) {
    audio{
        width: fit-content;
    }

    .audio-items{
        width: 90%;
        margin: 10px;
    }

    audio::-webkit-media-controls-time-remaining-display {
        display: none;
    }

    .audio-list{
        justify-content: center;
    }
}

@media screen and (max-width: 640px) {
    .Welcome-text{
        margin-top: 120px;
        text-align: center;
    }
}

@media screen and (max-width: 470px) {
    .heading-nav{
        margin-left: 90px;
    }

    .footer-heading{
        margin-bottom: 0;
    }

    footer{
        padding-top: 10px;
    }

    footer a{
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .heading-nav{
        margin-left: 0;
    }

    .mode2{
        margin-left: 15px;
    }
}